.projectContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-evenly;
  justify-items: center;
}
.card {
  height: 80px;
  width: 100px;
}
